<div class="row">
    <div class="col-md-6">

        <div class="example-container">
            <!-- Motivo por la que ingresa la mercaderia -->
            <app-comp-find-motivo-is-almacen tipoMotivo="i"></app-comp-find-motivo-is-almacen>

            <br>
            <mat-form-field>
                <input matInput placeholder="PROVEEDOR">
            </mat-form-field>     <br>
            <app-fecha-mat></app-fecha-mat>
            <br>
            <mat-form-field>
                <input matInput placeholder="HORA">
            </mat-form-field>
        </div>

    </div>
    <div class="col-md-6">
        <div class="example-container">

            <!-- empleado que recibe la mercaderia -->
            <app-comp-find-empleado [idfilial]="this.idFilial" ></app-comp-find-empleado>
            <br>

            <app-comp-find-almacen [idFilial]="this.idFilial"></app-comp-find-almacen>

            <br>
            <mat-form-field>
                <input matInput placeholder="REF.COMPRA">
            </mat-form-field>

        </div>
    </div>

</div>