<div class="row">
    <div class="col-md-6">

        <div class="example-container">
            <app-comp-find-motivo-is-almacen tipoMotivo="i"></app-comp-find-motivo-is-almacen>
            <br>
            <mat-form-field>
                <input matInput placeholder="PROVEEDOR">
            </mat-form-field>     <br>
            <app-fecha-mat></app-fecha-mat>
            <br>
            <mat-form-field>
                <input matInput placeholder="HORA">
            </mat-form-field>
        </div>

    </div>
    <div class="col-md-6">
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="EMPLEADO RECEP.">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="ALMACEN">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="REF.COMPRA">
            </mat-form-field>

        </div>
    </div>

</div>